{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "spirit.css" %}"  />
 
    <title>{% block title %}Spirit Adventure Django{% endblock %}</title>
</head>

<body>
	<div id="container">
	<div id="wrapper">
		<div id="header"><a href="/"><img src="{% static "img/boat_tours_Clew_Bay.jpg" %}" width="940" height="188" border="0" id="container"/></a>
		</div>
	
		<div id="main_menu">
			{% block main_menu %}
			<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/tours">Tours</a></li>
			<li><a href="/angling">Angling</a></li>
			<li><a href="/wildlife">Wildlife</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/book">Book</a></li>
			</ul> 
			{% endblock main_menu %}
		</div>
	</div>		
	
	    <div id="content">
	    	<div id="breadcrumb">Home</div>
	    	<div id="leftside">
	        {% block content %}{% endblock content %}
	        </div>
	        
	    
	    
	    	<div id="right_side">
	    	<p align="center">
	    	{% block topimg %}
	    		<img src="{% static "img/fishing_trip_ireland.jpg" %}" alt="Fishing Trip in Clew Bay, Westport, Mayo, Ireland" name="Fishing Trip in Clew Bay, Westport, Mayo, Ireland" width="270" height="200" class="image" /></p>
	    	{% endblock topimg %}
	    	
	    	Been out with us recently? <a href="/review" >Please write a review.</a>
	    	<div id="review">
	    	{% block review %}
	    	
	    	{% endblock review %}
	    	</div>
	    	{% block botimg %}
	    		<img src="{% static "img/pollack_fishing_ireland.jpg" %}" alt="Pollack fishing in Clew Bay, Westport, Mayo, Ireland" name="Pollack fishing in Clew Bay, Westport, Mayo, Ireland" width="270" height="289" class="image" /></p>
	    	{% endblock botimg %}	    
	    </p>  
	    	</div>
    	</div>
	  
	 
	    <div id="footer">
	    	{% block footer %}
	    	
	    	<div id="addressbox">
    			Spirit Adventure<br />
    		 	Clew Bay, Westport,<br />
    			Mayo, Ireland<br />
     			+353(0)860675833<br />
     			skipper@spiritadventure.net
   			</div>
	    	{% endblock %}
	    </div>

	</div>    

	</div>
	
</body>
</html>
