{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "spirit.css" %}"  />
 
    <title>{% block title %}Spirit Adventure Django{% endblock %}</title>
</head>

<body>
	<div id="container">
	<div id="wrapper">
		<div id="header"><a href="index.html"><img src="{% static "img/boat_tours_Clew_Bay.jpg" %}" width="940" height="188" border="0" id="container"/></a>
		</div>
	
		<div id="main_menu">
			{% block main_menu %}
			<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/tours">Tours</a></li>
			<li><a href="/angling">Angling</a></li>
			<li><a href="/wildlife">Wildlife</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/book">Book</a></li>
			</ul> 
			{% endblock main_menu %}
		</div>
	</div>		
	
	    <div id="content">
	    <div class="breadcrumb" ID="breadcrumb">Home</div>
	        {% block content %}{% endblock content %}
	        
	    </div>
	    
	    <div id="right_side">
	    	{% block topimg %}
	    	{% endblock topimg %}
	    	
	    	{% block review %}
	    	
	    	{% endblock review %}
	    	
	    	{% block botimg %}
	    	Image
	    	{% endblock botimg %}	    </div>
	    
	    <div id="footer">
	    	{% block footer %}
	    	{% endblock %}
	    </div>
	</div>
</body>
</html>