<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Lake Serenity Lodge - Holistic Massage</title>
<link href="lodge.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:1244px;
	top:230px;
	width:392px;
	height:242px;
	z-index:1;
}
#Layer2 {
	position:relative;
	left:620px;
	top:400px;
	width:300px;
	height:100%;
	z-index:1;
}
-->
</style>
<link href="lodge.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container" ID="container">
<div class="wrapper" ID="wrapper">
<div id="header"><a href="index.html"><img src="header.png" width="940" height="188" border="0" class="container"/></a></div>
<div id="main_menu">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="programmes.html">Programme</a></li>
<li><a href="packages.html">Packages</a></li>
<li><a href="accommodation.html">Accommodation</a></li>
<li><a href="book.html">Book</a></li>
</ul>
</div>
</div>
<div class="maincontentbox" ID = "maincontentbox">
  <table width="100%" max-width="900px" border="0">
  <tr>
    <td width="600">
	<div class="breadcrumb" ID="breadcrumb"><a href="index.html">Home</a> &gt; <a href="programmes.html">Programme</a> &gt; Meditation </div>
<br/>
	Holistic massage deals with the individual as a whole. The aim is not just to treat symptoms, but to establish cause, whether it be internal or external. Holistic practices examine the physical, mental and emotional factors affecting health and well-being. The aim of holistic massage is to rebalance the body.</span><br />
          <br />
          Massage therapy involves the manipulation of soft tissues using techniques which include gliding and kneading strokes, motion stretches and pressure point stimulation. Holistic massage benefits both the mind and the body<br />
          <br />
          These benefits include:
          <ul class="bullets">
            <li>Relieving pain</li>
            <li>Easing of joint and muscle stiffness</li>
            <li>Reducing blood pressure</li>
            <li>Relieving stress </li>
            <li>Improved mental alertness</li>
            <li>Decreased anxiety and depression</li>
          </ul>
                At Lake Serenity Lodge, we provide individual treatment rooms for your massage therapy. At your first consultation, you will have a one to one consultation with your therapist. During this consultation, you will be asked to complete a detailed health questionnaire. From this information your therapist will put together a profile for you and will tailor your holistic massage sessions to suit your individual needs. </td>
    <td width="300"><p align="center"><img src="images/massageOils.png" alt="Our own blend of Massage Oils" name="Our own blend of Massage Oils" width="270" height="200" class="image" /></p>
      <p align="center"><img src="images/massage1.png" alt="Relaxing massage at Lake Serenity Lodge" name="Relaxing massage at Lake Serenity Lodge" width="270" height="200" class="image" /></p></td>
  </tr>
</table>

  
</div>
<div class="footerbox" ID="footerbox">
<div class="footer" ID="footer">
  <div class="footer" id="div"> Lake Serenity Lodge<br />
      Lough Derg<br />
      Ireland<br />
      071555115<br />
      info@lakeserenitylodge.ie</div>
  
  </div>
<div class="facebook" ID="facebook">
 <div align="left"><a href="http://www.facebook.com" target="_blank"><img src="facebook_button.png" border="0" /></a>	<a href="http://www.twitter.com/" target="_blank"><img src="twitter-button.png" width="50" height="50" border="0" /></a> </div>
  </div>

</div>
</div>
</body>
</html>
